body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 8% 92%;
    background-color: rgb(53,53,53);
    margin: 0;
    overflow: hidden;
}

#BarraSuperior{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
}

#CajaGrande{
    display: flex;
    align-items: center;
    width: 227px;
    height: 48px;
    margin: 20px 12px 12px 0px;
}

#BarraInferior{
    display: grid;
    grid-template-rows: 35.5% 10%;
    justify-items: center;
    width: 100%;
    height: 100%;
}

.Email-Images{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 24px;
}

.Apps-Profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 48px;
}

.Anchors{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 8px;
    padding-right: 8px;
}

.Anchors:hover{
    text-decoration: underline;
}

.Anchors-2{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 30px;
    height: 40px;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
}

.Anchors-2 img{
    border-radius: 100%;
}

.Anchors-2:hover{
    background-color: rgb(66,66,66);
}

#Logo{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 272px;
    height: 200px;
}

#Search{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#CajaPequeña{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 561px;
    height: 42;
}

#Search input{
    width: 465px;
    height: 42px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border:none;
    padding-top: 1px;
    padding-bottom: 1px;
    box-sizing: border-box;
}

#Search input:focus{
    outline: none;
}

#Lupa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 42px;
    background-color: white;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}

#Micro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 42px;
    background-color: white;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}